{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
{% if list.item_set.all.count >= 5 %}
				<span>oh tidak</span>
			{% elif list.item_set.all.count > 0 %}
				<span>sibuk tapi santai</span>
			{% else %}
				<span>yey, waktunya berlibur</span>
			{% endif %}
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}